<a href="https://colab.research.google.com/github/codercamelot/CV/blob/main/python%20slicing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
str1 = 'abcdefghij'

str1[::]
str1[:10:]
str1[-10:-1:1]

'abcdefghi'

In [15]:
str2 = "construction"

print(len(str2))
print(str2[0:12:1])
print(str2[-1:-13:-1])
print(str2[1:5:2]

12
construction
noitcurtsnoc

'os'

In [18]:
tup1=('monday','tuesday','wednesday','thursday','friday')
print(tup1[0:5:1])
print(tup1[-1:-6:-1])
print(tup1[-5::1])
print(tup1[4::-1])

('monday', 'tuesday', 'wednesday', 'thursday', 'friday')
('friday', 'thursday', 'wednesday', 'tuesday', 'monday')
('monday', 'tuesday', 'wednesday', 'thursday', 'friday')
('friday', 'thursday', 'wednesday', 'tuesday', 'monday')

In [23]:
lst2=[[1,2,3,4,5],
      ('a','b','c','d'),
      True, False, 3.14, -2+7j]
lst2

[[1, 2, 3, 4, 5], ('a', 'b', 'c', 'd'), True, False, 3.14, (-2+7j)]

In [25]:
lst2[1][2]

'c'

In [27]:
lst2=[[1,2,3,4,5],
      ('a','b','c','d'),
      {1:2,3:4,5:6,7:8,9:0},
      True, False, 3.14, -2+7j]
lst2[2][5]

6

In [35]:
lst2.extend([{'a':'b','c':'d','e':'f','g':'h'}])
lst2.insert(4,lst2.extend([{'a':'b','c':'d','e':'f','g':'h'}]))
print(lst2)

[[1, 2, 3, 4, 5], ('a', 'b', 'c', 'd'), {1: 2, 3: 4, 5: 6, 7: 8, 9: 0}, True, None, None, None, None, None, False, 3.14, (-2+7j), 'a', 'c', 'e', 'g', 'a', 'c', 'e', 'g', 'a', 'c', 'e', 'g', 'a', 'c', 'e', 'g', 'a', 'c', 'e', 'g', 'a', 'c', 'e', 'g', 'a', 'c', 'e', 'g', {'a': 'b', 'c': 'd', 'e': 'f', 'g': 'h'}, {'a': 'b', 'c': 'd', 'e': 'f', 'g': 'h'}, {'a': 'b', 'c': 'd', 'e': 'f', 'g': 'h'}, {'a': 'b', 'c': 'd', 'e': 'f', 'g': 'h'}, {'a': 'b', 'c': 'd', 'e': 'f', 'g': 'h'}]

In [36]:
dict1 = {
    'tiger':[
        (1,2,3,4,5),['mon','tue','wed'],True,False
    ],
    {'a':'apple','b':'banana','c':'cat'},
    {{1:'a',2:'b',3:'c'},('tree','water','air','fire')}
  }

TypeError: ignored

In [39]:
dict1 = {​​​​​​
          'tiger':
         [(1,2,3,4,5),['mon','tue','wed'],True,False],  
         'lion':{​​​​​​'a':'apple','b':'banana','c':'cat'}​​​​​​,    
         'fox':{​​​​​​"red":{​​​​​​1:'a',2:'b',3:'c'}​​​​​​,
         'blue':('tree','water','air','fire')}​​​​​​
         }​​​​​​

print(dict1['tiger'])
print(dict1['lion'])
print(dict1['fox'])

SyntaxError: ignored

In [45]:
dict1 = {
    'tiger':[
     (1,2,3,4,5),['mon','tue','wed'],True,False
    ],
    'lion':{'a':'apple','b':'banana','c':'cat'},
    'fox':{"red":{1:'a',2:'b',3:'c'},'blue':('tree','water','air','fire')}
  }

print(dict1['tiger'])  
print(dict1['lion'])
print(dict1['fox'])
print(dict1['tiger'][0])  
print(dict1['tiger'][0][0])  
print(dict1['tiger'][0][1])  
print(dict1['tiger'][0][2])  
print(dict1['tiger'][0][3])  
print(dict1['tiger'][0][4])  
print(dict1['tiger'][1])  
print(dict1['tiger'][1][0])  
print(dict1['tiger'][1][1])  
print(dict1['tiger'][1][2])  
print(dict1['tiger'][2])
print(dict1['tiger'][3])  
print(dict1['lion']['a'])
print(dict1['lion']['b'])
print(dict1['lion']['c'])
print(dict1['fox']['red'])
print(dict1['fox']['red'][1])
print(dict1['fox']['red'][2])
print(dict1['fox']['red'][3])
print(dict1['fox']['blue'])
print(dict1['fox']['blue'][0])
print(dict1['fox']['blue'][1])
print(dict1['fox']['blue'][2])
print(dict1['fox']['blue'][3])

[(1, 2, 3, 4, 5), ['mon', 'tue', 'wed'], True, False]
{'a': 'apple', 'b': 'banana', 'c': 'cat'}
{'red': {1: 'a', 2: 'b', 3: 'c'}, 'blue': ('tree', 'water', 'air', 'fire')}
(1, 2, 3, 4, 5)
1
2
3
4
5
['mon', 'tue', 'wed']
mon
tue
wed
True
False
apple
banana
cat
{1: 'a', 2: 'b', 3: 'c'}
a
b
c
('tree', 'water', 'air', 'fire')
tree
water
air
fire

In [47]:
tup3 = (lst2,tup1,dict1)
tup3

([[1, 2, 3, 4, 5],
  ('a', 'b', 'c', 'd'),
  {1: 2, 3: 4, 5: 6, 7: 8, 9: 0},
  True,
  None,
  None,
  None,
  None,
  None,
  False,
  3.14,
  (-2+7j),
  'a',
  'c',
  'e',
  'g',
  'a',
  'c',
  'e',
  'g',
  'a',
  'c',
  'e',
  'g',
  'a',
  'c',
  'e',
  'g',
  'a',
  'c',
  'e',
  'g',
  'a',
  'c',
  'e',
  'g',
  'a',
  'c',
  'e',
  'g',
  {'a': 'b', 'c': 'd', 'e': 'f', 'g': 'h'},
  {'a': 'b', 'c': 'd', 'e': 'f', 'g': 'h'},
  {'a': 'b', 'c': 'd', 'e': 'f', 'g': 'h'},
  {'a': 'b', 'c': 'd', 'e': 'f', 'g': 'h'},
  {'a': 'b', 'c': 'd', 'e': 'f', 'g': 'h'}],
 ('monday', 'tuesday', 'wednesday', 'thursday', 'friday'),
 {'tiger': [(1, 2, 3, 4, 5), ['mon', 'tue', 'wed'], True, False],
  'lion': {'a': 'apple', 'b': 'banana', 'c': 'cat'},
  'fox': {'red': {1: 'a', 2: 'b', 3: 'c'},
   'blue': ('tree', 'water', 'air', 'fire')}})

In [ ]:
(['apple', 'banana', 'cherry', 'dates', 'eggfruit', 'fig', 'grapes', 'honeyfruit', 'icefruit', 'jackfruit'], [[1, 2, 3, 4, 5], ('a', 'b', 'c', 'd'), {​​​​​​​​1: 2, 3: 4, 5: 6, 7: 8, 9: 0}​​​​​​​​, True, False, 3.14, (-2+7j), {​​​​​​​​1: 11, 2: 22, 3: 33, 4: 44, 5: 55}​​​​​​​​], ('monday', 'tuesday', 'wednesday', 'thursday', 'friday'), ([1, 2, 3, 4, 5], {​​​​​​​​'a': 'apple', 'b': 'ball', 'c': 'cat'}​​​​​​​​, (11, 22, 33, 44, 55), True, False, False, True, [[1, 2, 3, 4, 5], {​​​​​​​​'a': 'apple', 'b': 'ball', 'c': 'cat'}​​​​​​​​, (11, 22, 33, 44, 55), True, False, False, True]), {​​​​​​​​'tiger': [(1, 2, 3, 4, 5), ['mon', 'tue', 'wed'], True, False], 'lion': {​​​​​​​​'a': 'apple', 'b': 'banana', 'c': 'cat'}​​​​​​​​, 'fox': {​​​​​​​​'red': {​​​​​​​​1: 'a', 2: 'b', 3: 'c'}​​​​​​​​, 'blue': ('tree', 'water', 'air', 'fire')}​​​​​​​​}​​​​​​​​)
<https://teams.microsoft.com/l/message/19:FnR76Zs5RYrxCOU9MAhZn4ZdUx5szl0eRuglRsXLRN01@thread.tacv2/1663118594386?tenantId=fd958fff-96e9-4da8-91d5-1c885155e361&amp;groupId=66643da4-49ed-4f94-a935-4cafdfcf8e54&amp;parentMessageId=1662313791819&amp;teamName=DSE2 Data Science and Data Engineering Bootcamp - Takeo&amp;channelName=General&amp;createdTime=1663118594386&amp;allowXTenantAccess=false>